extends ../index.pug

block variables
  -var template = 'home'

block content
  .home
    .home__wrapper
      .home__section
        .home__top
          .home__top__left
            p.home__top__left__text I like to create <br> some crazy stuff <br> for the web
            p.home__top__left__text BRAZIL - BRASILIA - FEB 2000
          .home__top__right
            .home__top__right__links
              a.home__top__right__link INSTAGRAM
              a.home__top__right__link GITHUB
            p.home__top__right__text Am i doing it wrong <br> or doing it <br> differently?
        .home__bottom
          h2.home__bottom__title CREATIVE DEVELOPER

      .works__section
        .works__left
          .works__left__title PORT<br>FOLIO
        .works__right
          .works__right__top
            p.works__right__top__text Here are some projects <br> i'm proud of
          .works__right__bottom
            .works__right__bottom__item
              p.works__right__bottom__item__index 01
              p.works__right__bottom__item__title INFINITY SCROLL
              p.works__right__bottom__item__category UI/UX/DEV
            .works__right__bottom__item
              p.works__right__bottom__item__index 02
              p.works__right__bottom__item__title AMAZON REMAKE
              p.works__right__bottom__item__category UI/DEV
            .works__right__bottom__item
              p.works__right__bottom__item__index 03
              p.works__right__bottom__item__title ENDURANCE NORTH
              p.works__right__bottom__item__category UI/UX/DEV
            .works__right__bottom__item
              p.works__right__bottom__item__index 04
              p.works__right__bottom__item__title NETFLIX
              p.works__right__bottom__item__category UI/UX/DEV
